//for the patient doctor name doctor surname date phone phoneNumber
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aίτημα Αποδεκτό!</title>
</head>
<body style="color: white; font-family: 'Roboto' , sans-serif; ">
    <div style="background-color: #0dab8b; border-radius: 30px; margin: 0; padding: 2rem 0rem;">
    <div style="justify-content: center; text-align: center">
        <img
          src="cid:logo"
          alt="PhysioLink Logo"
          width="100px"
          height="100px;"
          style="padding-bottom: 10px; border-radius: 30px;"
        />
        <h2 style="padding-bottom: 10px;">PhysioLink Service</h2>
        <h1 style="padding: 1.5rem ;">Η πληρωμή για την υπηρεσία: {{service_name}} μόλις πραγματοποιήθηκε!</h1>
        <hr />
        <h2>Πληροφορίες Χρέωσης:</h2>
        <ul style="list-style: none; font-size: 1.2rem; font-weight: 700; text-align: start;">
        <li>Υπηρεσία: {{name}} </li>
        <li>Τιμή υπηρεσίας: {{price}}</li>
        <li>Περιγραφή Υπηρεσίας: {{description}}</li>
        <li>Ημερομηνία συναλλαγής: {{date}}</li>
      </ul>
      </div>
    
    </div>
</body>
</html>