
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aίτημα Αποδεκτό!</title>
</head>
<body style="color: white; font-family: 'Roboto' , sans-serif; ">
    <div style="background-color: #0dab8b; border-radius: 30px; margin: 0; padding: 2rem 0rem;">
    <div style="justify-content: center; text-align: center">
        <img
          src="cid:logo"
          alt="PhysioLink Logo"
          width="100px"
          height="100px;"
          style="padding-bottom: 10px; border-radius: 30px;"
        />
        <h2 style="padding-bottom: 10px;">PhysioLink Service</h2>
        <h1 style="padding: 1.5rem ;">To αίτημά σας για ραντεβού για τις {{date}} μόλις έγινε αποδεκτό!</h1>
        <hr />
        <h2>Στοιχεία Ραντεβού:</h2>
        <ul style="list-style: none; font-size: 1.2rem; font-weight: 700; text-align: start;">
        <li><span style="color: rgb(225, 214, 199);">Ημερομηνία ραντεβού:</span> {{date}} </li>
        <li><span style="color: rgb(225, 214, 199);">Όνομα ιατρού:</span> {{name}}</li>
        <li><span style="color: rgb(225, 214, 199);">Επίθετο ιατρού:</span> {{surname}}</li>
        <li><span style="color: rgb(225, 214, 199);">Κινητό Τηλέφωνο ιατρού:</span>{{phoneNumber}}</li>
      </ul>
      </div>
    
    </div>
</body>
</html>