*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Manrope', sans-serif;
}

:root{

    --nav-normal-header-text: 23px;
    --nav-mid-header-text: 19px;

    --nav-normal-regtext: 17px;
    --nav-mid-regtext: 15px;

    --normal-header-text: 25px;
    --normal-regtext: 20px;

    --mid-header-text: 23px;
    --mid-regtext: 18px;

    --small-header-text: 20px;
    --small-regtext: 16px;
}

body{
    background: linear-gradient(140deg, #0DAB8B, rgb(0, 68, 54));
    color: white;
}

.nav-bar > h1{
    font-size: var(--nav-normal-header-text);
}

.nav-bar > h1 > a{
    color: rgb(0, 96, 77);
}


.nav-bar > h1> a:hover{
    color: #0DAB8B;
    cursor: pointer;
    transition: 400ms;
}



a{
    text-decoration: none;
    color: black;
}

.nav-bar{
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 20px 15px;
    box-shadow: 0px 3px 20px #000000;
}

.nav-bar > ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: var(--nav-normal-regtext);
    color: black;
    transition: 400ms;
}

.nav-bar > ul > li:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

.first-hr{
    margin-top: 200px;
}

.center-part{
    text-align: center;
    font-size: var(--normal-header-text);
    padding: 15px;
}

hr{
    border-top: 5px solid white;
}

.hr-top{
    margin-bottom: 60px;
}

.hr-bot{
    margin: 60px 0 60px 0;
}



.first{
    margin: 0;
    display: flex;
    justify-content: center;
}


.center-first{
    width: 60%;
}

.highlighted{
    color: #a42600;
    font-weight: bolder;
}

.center-part-list{
    font-size: var(--normal-regtext);
    padding: 20px 60px;
    
}

@media only screen and (max-width: 1100px){

    .nav-bar > ul{
        font-size: var(--nav-mid-regtext);
    }

}

@media only screen and (max-width: 1000px) {

    .nav-bar > ul{
        display: none;
    }

    .nav-bar{
        justify-content: center;
    }
}

@media only screen and (max-width: 800px) {
    .center-part{
        font-size: var(--mid-header-text);
    }

    .center-part-list{
        font-size: var(--mid-regtext);
    }
    .nav-bar > h1{
        font-size: var(--nav-mid-header-text);
    }

}


@media only screen and (max-width: 500px) {
    .center-part{
        font-size: var(--small-header-text);
    }

    .center-part-list{
        font-size: var(--small-regtext);
    }

    
}




